## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()
#city_data_df.dtypes

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Port Alfred,-33.5906,26.8910,61.00,91,16,1.99,ZA,few clouds
1,1,Pevek,69.7008,170.3133,-21.57,88,100,4.56,RU,overcast clouds
2,2,Crotone,39.0851,17.1178,46.26,55,91,6.73,IT,overcast clouds
3,3,Georgetown,5.4112,100.3354,79.00,88,20,4.12,MY,few clouds
4,4,Fare,-16.7000,-151.0167,81.28,72,100,12.28,PF,light rain

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you'd like?"))
max_temp = float(input("What is the maximum temperature you'd like?"))

What is the minimum temperature you'd like?60
What is the maximum temperature you'd like?85

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

In [15]:
# 4a. Determine if there are any empty rows.
cities_df.count()

Unnamed: 0             313
City                   313
Latitude               313
Longitude              313
Max Temp               313
Humidity               313
Cloudiness             313
Wind Speed             313
Country                310
Current Description    313
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = cities_df.dropna()

In [17]:
clean_df.count()

Unnamed: 0             310
City                   310
Latitude               310
Longitude              310
Max Temp               310
Humidity               310
Cloudiness             310
Wind Speed             310
Country                310
Current Description    310
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Latitude", "Longitude"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,Port Alfred,ZA,61.00,few clouds,-33.5906,26.8910,
3,Georgetown,MY,79.00,few clouds,5.4112,100.3354,
4,Fare,PF,81.28,light rain,-16.7000,-151.0167,
6,Bajil,YE,71.19,clear sky,15.0584,43.2851,
7,Riyadh,SA,62.60,clear sky,24.6877,46.7219,
10,Zwedru,LR,72.66,few clouds,6.0667,-8.1281,
13,Carnarvon,AU,75.20,clear sky,-24.8667,113.6333,
21,Busselton,AU,70.00,broken clouds,-33.6500,115.3333,
23,Rikitea,PF,79.72,light rain,-23.1203,-134.9692,
27,Kawalu,ID,78.46,overcast clouds,-7.3817,108.2082,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Latitude']
    lng = row["Longitude"]
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,Port Alfred,ZA,61.00,few clouds,-33.5906,26.8910,The Halyards Hotel
3,Georgetown,MY,79.00,few clouds,5.4112,100.3354,Cititel Penang
4,Fare,PF,81.28,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
6,Bajil,YE,71.19,clear sky,15.0584,43.2851,Ø´Ø¨ÙƒØ© Ù…Ø§ÙƒØ³ Ù†Øª MAX WIFI
7,Riyadh,SA,62.60,clear sky,24.6877,46.7219,InterContinental Riyadh
10,Zwedru,LR,72.66,few clouds,6.0667,-8.1281,Elijah Worjloh
13,Carnarvon,AU,75.20,clear sky,-24.8667,113.6333,Hospitality Carnarvon
21,Busselton,AU,70.00,broken clouds,-33.6500,115.3333,Observatory Guest House
23,Rikitea,PF,79.72,light rain,-23.1203,-134.9692,Pension Maro'i
27,Kawalu,ID,78.46,overcast clouds,-7.3817,108.2082,KOSAN UNGU UNSIK

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   310
Country                310
Max Temp               310
Current Description    310
Latitude               310
Longitude              310
Hotel Name             310
dtype: int64

In [34]:
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])

In [38]:
# 8a. Create the output File (CSV)
clean_hotel_df.to_csv(r'WeatherPy_vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(r'WeatherPy_vacation.csv', index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Latitude", "Longitude"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))